
.Button {
    padding: 12px;
    background: red;
    min-width: 100px;
    border-radius: 10px;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button:hover {
    cursor: pointer;
    color: #282c34;
}

.Button:disabled {
    cursor: default;
    color: grey;
}
