.Betting-Controls-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 7rem;
    margin-top: 10px;
}

.Betting-Controls-Container img {
    width: 30px;
}