
.Stats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: blueviolet;
    height: 4vw;
    color: white;
    font-size: 3vw;
    font-weight: bold;
    padding: 1rem;
    position: relative;
}

.Spacer {
    flex: 1;
}

.Links-Container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}


.Link {
    margin-left: 1rem;
    margin-right: 1rem;
}

