
.front,
.back {
    background-size: contain;
}

.back {
    background: url("./../../../../../assets/images/logo.png") center no-repeat;
}

.front {
    background: url("./../../../../../assets/images/logo.png") center no-repeat;
}

.Logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 5vw;
    height: 5vw;
    will-change: transform;
}

.Logo:hover{
    cursor: pointer;
}
.Logo-Container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 45ch;
    height: 45ch;
    background: grey;
    border-radius: 5px;
    background-image: url(https://drscdn.500px.org/photo/435236/q%3D80_m%3D1500/v2?webp=true&sig=67031bdff6f582f3e027311e2074be452203ab637c0bd21d89128844becf8e40);
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    border: 15px solid white;
}

.card:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}