.Coins {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Coins:hover {
    cursor: pointer;
}

.Coins img {
    width: 4vw;
}

.Amount {
    font-size: 4vw;
    color: gold;
}

.Amount:hover {
    color: darkgoldenrod;
}