.Input-Container {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Input-Inner-Container{
    position: relative;
}
.Input {
    width: 100px;
    padding: 10px;
    border-radius: 1rem;
    font-size: 3vw;
    text-align: end;
    background-color: rgba(255, 255, 255, 0.5);
}

.Label {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 3.5vw;
}